# DATA CLEANING + EDA (Pandas cont.)

Created By: Angelica Rojas

In [109]:
import pandas as pd
import re

## Upload Data

The data for this notebook could be found at this link: https://data.cityofberkeley.info/Public-Safety/Berkeley-PD-Calls-for-Service/k2nh-s5h5 . 

For the purpose of this lesson we will use the CSV file of the data.

In [110]:
df = pd.read_csv("BerkeleyPD_Calls_for_Service.csv")

#what does this do?
df.head() ##it does the first 5 head/last 5 tail

,CASENO,OFFENSE,EVENTDT,EVENTTM,CVLEGEND,CVDOW,InDbDate,Block_Location,BLKADDR,City,State
0,17034187,BURGLARY AUTO,06/14/2017 12:00:00 AM,15:15,BURGLARY - VEHICLE,3,09/25/2017 03:30:15 AM,"ALLSTON WAY &amp; SHATTUCK AVE\nBerkeley, CA\n...",ALLSTON WAY & SHATTUCK AVE,Berkeley,CA
1,17052235,GUN/WEAPON,09/01/2017 12:00:00 AM,22:56,WEAPONS OFFENSE,5,09/25/2017 03:30:18 AM,"UNIVERSITY AVENUE &amp; MILVIA ST\nBerkeley, C...",UNIVERSITY AVENUE & MILVIA ST,Berkeley,CA
2,17091126,THEFT MISD. (UNDER $950),06/10/2017 12:00:00 AM,10:45,LARCENY,6,09/25/2017 03:30:15 AM,"2500 SHATTUCK AVE\nBerkeley, CA\n(37.863811, -...",2500 SHATTUCK AVE,Berkeley,CA
3,17018444,BURGLARY AUTO,04/02/2017 12:00:00 AM,19:30,BURGLARY - VEHICLE,0,09/25/2017 03:30:11 AM,"DURANT AVENUE &amp; ELLSWORTH ST\nBerkeley, CA...",DURANT AVENUE & ELLSWORTH ST,Berkeley,CA
4,17033328,NARCOTICS,06/10/2017 12:00:00 AM,14:30,DRUG VIOLATION,6,09/25/2017 03:30:14 AM,"MILVIA STREET &amp; UNIVERSITY AVE\nBerkeley, ...",MILVIA STREET & UNIVERSITY AVE,Berkeley,CA

Why did we only want to display the first 5 rows of the dataframe?

What if we wanted to see the size of this dataframe?

In [111]:
# number of rows
len(df)
##"CHECK # ROWS OF DF"

5617

In [112]:
#columnnames
df.columns

Index(['CASENO', 'OFFENSE', 'EVENTDT', 'EVENTTM', 'CVLEGEND', 'CVDOW',
       'InDbDate', 'Block_Location', 'BLKADDR', 'City', 'State'],
      dtype='object')

In [113]:
# shape of df (rows, columns)
df.shape
##"CHECK SHAPE OF DF"

(5617, 11)

# Part 1: DATA CLEANING

## Column Names

What do all these column names even mean? 

On that same website, BPD offers a narrative pdf file that describes the data they provided. https://data.cityofberkeley.info/Public-Safety/Berkeley-PD-Calls-for-Service/k2nh-s5h5


<img src = "DF_col_desc.png">

## Change Column Name(s)

Why would we want to change the column names?

In [114]:
df = df.rename(columns={'CVLEGEND': 'EVENT','CVDOW':'D.O.W'})
df.head()

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,D.O.W,InDbDate,Block_Location,BLKADDR,City,State
0,17034187,BURGLARY AUTO,06/14/2017 12:00:00 AM,15:15,BURGLARY - VEHICLE,3,09/25/2017 03:30:15 AM,"ALLSTON WAY &amp; SHATTUCK AVE\nBerkeley, CA\n...",ALLSTON WAY & SHATTUCK AVE,Berkeley,CA
1,17052235,GUN/WEAPON,09/01/2017 12:00:00 AM,22:56,WEAPONS OFFENSE,5,09/25/2017 03:30:18 AM,"UNIVERSITY AVENUE &amp; MILVIA ST\nBerkeley, C...",UNIVERSITY AVENUE & MILVIA ST,Berkeley,CA
2,17091126,THEFT MISD. (UNDER $950),06/10/2017 12:00:00 AM,10:45,LARCENY,6,09/25/2017 03:30:15 AM,"2500 SHATTUCK AVE\nBerkeley, CA\n(37.863811, -...",2500 SHATTUCK AVE,Berkeley,CA
3,17018444,BURGLARY AUTO,04/02/2017 12:00:00 AM,19:30,BURGLARY - VEHICLE,0,09/25/2017 03:30:11 AM,"DURANT AVENUE &amp; ELLSWORTH ST\nBerkeley, CA...",DURANT AVENUE & ELLSWORTH ST,Berkeley,CA
4,17033328,NARCOTICS,06/10/2017 12:00:00 AM,14:30,DRUG VIOLATION,6,09/25/2017 03:30:14 AM,"MILVIA STREET &amp; UNIVERSITY AVE\nBerkeley, ...",MILVIA STREET & UNIVERSITY AVE,Berkeley,CA

## Investigating Columns

What is the difference between "Block_Location" and "BLKADDR" columns in the dataframe? From the look of the DF that is displayed it looks as though they are almost the same.

In [115]:
#Let's look at the first value in "Block_Location"
df["Block_Location"][0]

'ALLSTON WAY &amp; SHATTUCK AVE\nBerkeley, CA\n(37.869363, -122.268028)'

In [116]:
#Let's look at the first value in "BLKADDR"
df["BLKADDR"][0]

'ALLSTON WAY & SHATTUCK AVE'

## Create New Columns

What is new information about "Block_Location" that we can actually use and save?

Let's create new columns for the information we extracted from those values.

In [117]:
coordinates = [["".join(x.split()) for x in re.split(r'[()]',i) if x.strip()][-1] for i in df["Block_Location"]]

#new values
longitude =[["".join(x.split()) for x in re.split(r'[,]',i) if x.strip()][-1] for i in coordinates]
latitude = [["".join(x.split()) for x in re.split(r'[,]',i) if x.strip()][0] for i in coordinates]

#create new columns for latitude and longitude
df["LATITUDE"]=latitude
df["LONGITUDE"]=longitude
#Check if it worked
df.head()

#longitude

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,D.O.W,InDbDate,Block_Location,BLKADDR,City,State,LATITUDE,LONGITUDE
0,17034187,BURGLARY AUTO,06/14/2017 12:00:00 AM,15:15,BURGLARY - VEHICLE,3,09/25/2017 03:30:15 AM,"ALLSTON WAY &amp; SHATTUCK AVE\nBerkeley, CA\n...",ALLSTON WAY & SHATTUCK AVE,Berkeley,CA,37.869363,-122.268028
1,17052235,GUN/WEAPON,09/01/2017 12:00:00 AM,22:56,WEAPONS OFFENSE,5,09/25/2017 03:30:18 AM,"UNIVERSITY AVENUE &amp; MILVIA ST\nBerkeley, C...",UNIVERSITY AVENUE & MILVIA ST,Berkeley,CA,37.871884,-122.270752
2,17091126,THEFT MISD. (UNDER $950),06/10/2017 12:00:00 AM,10:45,LARCENY,6,09/25/2017 03:30:15 AM,"2500 SHATTUCK AVE\nBerkeley, CA\n(37.863811, -...",2500 SHATTUCK AVE,Berkeley,CA,37.863811,-122.267412
3,17018444,BURGLARY AUTO,04/02/2017 12:00:00 AM,19:30,BURGLARY - VEHICLE,0,09/25/2017 03:30:11 AM,"DURANT AVENUE &amp; ELLSWORTH ST\nBerkeley, CA...",DURANT AVENUE & ELLSWORTH ST,Berkeley,CA,37.867221,-122.263531
4,17033328,NARCOTICS,06/10/2017 12:00:00 AM,14:30,DRUG VIOLATION,6,09/25/2017 03:30:14 AM,"MILVIA STREET &amp; UNIVERSITY AVE\nBerkeley, ...",MILVIA STREET & UNIVERSITY AVE,Berkeley,CA,37.871884,-122.270752

## Drop Columns

We got all the information we needed from "Block_Location" keeping it would be taking up extra room in our dataframe. 

Let's drop the "Block_Location" from the dataframe.

In [118]:
df = df.drop("Block_Location", axis = 1)

#Check if it dropped
df.head()

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,D.O.W,InDbDate,BLKADDR,City,State,LATITUDE,LONGITUDE
0,17034187,BURGLARY AUTO,06/14/2017 12:00:00 AM,15:15,BURGLARY - VEHICLE,3,09/25/2017 03:30:15 AM,ALLSTON WAY & SHATTUCK AVE,Berkeley,CA,37.869363,-122.268028
1,17052235,GUN/WEAPON,09/01/2017 12:00:00 AM,22:56,WEAPONS OFFENSE,5,09/25/2017 03:30:18 AM,UNIVERSITY AVENUE & MILVIA ST,Berkeley,CA,37.871884,-122.270752
2,17091126,THEFT MISD. (UNDER $950),06/10/2017 12:00:00 AM,10:45,LARCENY,6,09/25/2017 03:30:15 AM,2500 SHATTUCK AVE,Berkeley,CA,37.863811,-122.267412
3,17018444,BURGLARY AUTO,04/02/2017 12:00:00 AM,19:30,BURGLARY - VEHICLE,0,09/25/2017 03:30:11 AM,DURANT AVENUE & ELLSWORTH ST,Berkeley,CA,37.867221,-122.263531
4,17033328,NARCOTICS,06/10/2017 12:00:00 AM,14:30,DRUG VIOLATION,6,09/25/2017 03:30:14 AM,MILVIA STREET & UNIVERSITY AVE,Berkeley,CA,37.871884,-122.270752

We can drop other columns that we do not think would add useful information to our analysis. 

Although we did get this data from the Berkeley PD, let's make sure all values in "City" are "Berkeley". Also, Let's make sure the "State" is "CA" for all values.

In [119]:
df.City.unique()

array(['Berkeley'], dtype=object)

In [120]:
df.State.unique()

array(['CA'], dtype=object)

We checked all the unique values for columns "State" and "City" and they are the results we wanted, therefore, we do not need those columns anymore. 

Drop the columns listed above.

In [121]:
#drop City and State columns
df = df.drop(["City","State"], axis = 1) 

#Check if they dropped
df.head()

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,D.O.W,InDbDate,BLKADDR,LATITUDE,LONGITUDE
0,17034187,BURGLARY AUTO,06/14/2017 12:00:00 AM,15:15,BURGLARY - VEHICLE,3,09/25/2017 03:30:15 AM,ALLSTON WAY & SHATTUCK AVE,37.869363,-122.268028
1,17052235,GUN/WEAPON,09/01/2017 12:00:00 AM,22:56,WEAPONS OFFENSE,5,09/25/2017 03:30:18 AM,UNIVERSITY AVENUE & MILVIA ST,37.871884,-122.270752
2,17091126,THEFT MISD. (UNDER $950),06/10/2017 12:00:00 AM,10:45,LARCENY,6,09/25/2017 03:30:15 AM,2500 SHATTUCK AVE,37.863811,-122.267412
3,17018444,BURGLARY AUTO,04/02/2017 12:00:00 AM,19:30,BURGLARY - VEHICLE,0,09/25/2017 03:30:11 AM,DURANT AVENUE & ELLSWORTH ST,37.867221,-122.263531
4,17033328,NARCOTICS,06/10/2017 12:00:00 AM,14:30,DRUG VIOLATION,6,09/25/2017 03:30:14 AM,MILVIA STREET & UNIVERSITY AVE,37.871884,-122.270752

## Dealing With Null Values (NaN)

<img src = "null_def.png">

REFERENCE: https://pandas.pydata.org/pandas-docs/stable/missing_data.html

This is a big data set and we can't look through each value one at a time. How can we make sure that there is a value for each category?

In [122]:
df.isnull().sum()

CASENO        0
OFFENSE       0
EVENTDT       0
EVENTTM       0
EVENT         0
D.O.W         0
InDbDate      0
BLKADDR      27
LATITUDE      0
LONGITUDE     0
dtype: int64

Let's look at the rows where "BLKADDR" is a null value. Let's make a temporary sub-dataframe.

In [123]:
null_temp = df[pd.isnull(df['BLKADDR'])]
null_temp

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,D.O.W,InDbDate,BLKADDR,LATITUDE,LONGITUDE
53,17036936,DISTURBANCE,06/26/2017 12:00:00 AM,18:24,DISORDERLY CONDUCT,1,09/25/2017 03:30:16 AM,NaN,37.869058,-122.270455
104,17090713,THEFT FELONY (OVER $950),04/09/2017 12:00:00 AM,04:15,LARCENY,0,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
224,17024641,BURGLARY AUTO,05/01/2017 12:00:00 AM,21:00,BURGLARY - VEHICLE,1,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
235,17046547,VEHICLE STOLEN,08/08/2017 12:00:00 AM,17:00,MOTOR VEHICLE THEFT,2,09/25/2017 03:30:18 AM,NaN,37.869058,-122.270455
291,17053694,THEFT MISD. (UNDER $950),09/07/2017 12:00:00 AM,17:43,LARCENY,4,09/25/2017 03:30:19 AM,NaN,37.869058,-122.270455
475,17022572,VEHICLE STOLEN,04/22/2017 12:00:00 AM,21:00,MOTOR VEHICLE THEFT,6,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
534,17026854,BURGLARY RESIDENTIAL,05/12/2017 12:00:00 AM,09:00,BURGLARY - RESIDENTIAL,5,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
1228,17091147,BURGLARY AUTO,06/14/2017 12:00:00 AM,03:00,BURGLARY - VEHICLE,3,09/25/2017 03:30:15 AM,NaN,37.869058,-122.270455
1306,17020446,VEHICLE STOLEN,04/12/2017 12:00:00 AM,18:00,MOTOR VEHICLE THEFT,3,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
1311,17025351,THEFT FROM AUTO,05/04/2017 12:00:00 AM,22:30,LARCENY - FROM VEHICLE,4,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
1550,17029419,BURGLARY RESIDENTIAL,05/23/2017 12:00:00 AM,16:30,BURGLARY - RESIDENTIAL,2,09/25/2017 03:30:13 AM,NaN,37.869058,-122.270455
1624,17033574,NARCOTICS,06/11/2017 12:00:00 AM,16:53,DRUG VIOLATION,0,09/25/2017 03:30:14 AM,NaN,37.869058,-122.270455
2093,17037072,BURGLARY AUTO,06/20/2017 12:00:00 AM,08:00,BURGLARY - VEHICLE,2,09/25/2017 03:30:16 AM,NaN,37.869058,-122.270455
2340,17028899,ALCOHOL OFFENSE,05/21/2017 12:00:00 AM,22:00,LIQUOR LAW VIOLATION,0,09/25/2017 03:30:13 AM,NaN,37.869058,-122.270455
2595,17030776,BURGLARY RESIDENTIAL,05/30/2017 12:00:00 AM,10:45,BURGLARY - RESIDENTIAL,2,09/25/2017 03:30:14 AM,NaN,37.869058,-122.270455
3453,17038382,BURGLARY RESIDENTIAL,06/30/2017 12:00:00 AM,15:00,BURGLARY - RESIDENTIAL,5,09/25/2017 03:30:17 AM,NaN,37.869058,-122.270455
3922,17034863,DISTURBANCE,06/01/2017 12:00:00 AM,00:00,DISORDERLY CONDUCT,4,09/25/2017 03:30:16 AM,NaN,37.869058,-122.270455
4074,17091632,VANDALISM,08/15/2017 12:00:00 AM,23:30,VANDALISM,2,09/25/2017 03:30:18 AM,NaN,37.869058,-122.270455
4505,17091900,THEFT MISD. (UNDER $950),09/20/2017 12:00:00 AM,21:35,LARCENY,3,09/25/2017 03:30:19 AM,NaN,37.869058,-122.270455
4545,17026051,THEFT FROM AUTO,05/07/2017 12:00:00 AM,16:00,LARCENY - FROM VEHICLE,0,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
4759,17091711,BURGLARY AUTO,08/28/2017 12:00:00 AM,08:20,BURGLARY - VEHICLE,1,09/25/2017 03:30:18 AM,NaN,37.869058,-122.270455
4852,17042511,BURGLARY AUTO,07/20/2017 12:00:00 AM,16:00,BURGLARY - VEHICLE,4,09/25/2017 03:30:17 AM,NaN,37.869058,-122.270455
4959,17090810,BURGLARY AUTO,04/23/2017 12:00:00 AM,00:00,BURGLARY - VEHICLE,0,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
5032,17030164,VEHICLE STOLEN,05/26/2017 12:00:00 AM,20:00,MOTOR VEHICLE THEFT,5,09/25/2017 03:30:13 AM,NaN,37.869058,-122.270455
5194,17091379,BURGLARY AUTO,07/14/2017 12:00:00 AM,12:00,BURGLARY - VEHICLE,5,09/25/2017 03:30:17 AM,NaN,37.869058,-122.270455
5406,17020088,ASSAULT/BATTERY MISD.,04/11/2017 12:00:00 AM,09:25,ASSAULT,2,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
5544,17091287,VANDALISM,07/01/2017 12:00:00 AM,08:00,VANDALISM,6,09/25/2017 03:30:17 AM,NaN,37.869058,-122.270455

Does the number of rows in the dataframe match the values above?

In [124]:
#get number of rows of new df
len(null_temp)

27

Investigate the dataframe, do you see somethng interesting that all these rows share?

Are the Latitude/Longitude values all the same for the "NaN" values?

In [125]:
null_temp.head()

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,D.O.W,InDbDate,BLKADDR,LATITUDE,LONGITUDE
53,17036936,DISTURBANCE,06/26/2017 12:00:00 AM,18:24,DISORDERLY CONDUCT,1,09/25/2017 03:30:16 AM,NaN,37.869058,-122.270455
104,17090713,THEFT FELONY (OVER $950),04/09/2017 12:00:00 AM,04:15,LARCENY,0,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
224,17024641,BURGLARY AUTO,05/01/2017 12:00:00 AM,21:00,BURGLARY - VEHICLE,1,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
235,17046547,VEHICLE STOLEN,08/08/2017 12:00:00 AM,17:00,MOTOR VEHICLE THEFT,2,09/25/2017 03:30:18 AM,NaN,37.869058,-122.270455
291,17053694,THEFT MISD. (UNDER $950),09/07/2017 12:00:00 AM,17:43,LARCENY,4,09/25/2017 03:30:19 AM,NaN,37.869058,-122.270455

In [126]:
#get unique values of latitude
null_temp.LATITUDE.unique()

array(['37.869058'], dtype=object)

In [127]:
#get unique values of longitude
null_temp.LONGITUDE.unique()

array(['-122.270455'], dtype=object)

## Boolean Slicing

Let's look at the whole dataset to see if there are any rows with that Latitude and Longitude combination that might have a "BLKADDR" associated with it.

In [128]:
df[(df["LATITUDE"] == '37.869058') & (df["LONGITUDE"] == '-122.270455')]

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,D.O.W,InDbDate,BLKADDR,LATITUDE,LONGITUDE
53,17036936,DISTURBANCE,06/26/2017 12:00:00 AM,18:24,DISORDERLY CONDUCT,1,09/25/2017 03:30:16 AM,NaN,37.869058,-122.270455
104,17090713,THEFT FELONY (OVER $950),04/09/2017 12:00:00 AM,04:15,LARCENY,0,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
224,17024641,BURGLARY AUTO,05/01/2017 12:00:00 AM,21:00,BURGLARY - VEHICLE,1,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
235,17046547,VEHICLE STOLEN,08/08/2017 12:00:00 AM,17:00,MOTOR VEHICLE THEFT,2,09/25/2017 03:30:18 AM,NaN,37.869058,-122.270455
291,17053694,THEFT MISD. (UNDER $950),09/07/2017 12:00:00 AM,17:43,LARCENY,4,09/25/2017 03:30:19 AM,NaN,37.869058,-122.270455
475,17022572,VEHICLE STOLEN,04/22/2017 12:00:00 AM,21:00,MOTOR VEHICLE THEFT,6,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
534,17026854,BURGLARY RESIDENTIAL,05/12/2017 12:00:00 AM,09:00,BURGLARY - RESIDENTIAL,5,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
1228,17091147,BURGLARY AUTO,06/14/2017 12:00:00 AM,03:00,BURGLARY - VEHICLE,3,09/25/2017 03:30:15 AM,NaN,37.869058,-122.270455
1306,17020446,VEHICLE STOLEN,04/12/2017 12:00:00 AM,18:00,MOTOR VEHICLE THEFT,3,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
1311,17025351,THEFT FROM AUTO,05/04/2017 12:00:00 AM,22:30,LARCENY - FROM VEHICLE,4,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
1550,17029419,BURGLARY RESIDENTIAL,05/23/2017 12:00:00 AM,16:30,BURGLARY - RESIDENTIAL,2,09/25/2017 03:30:13 AM,NaN,37.869058,-122.270455
1624,17033574,NARCOTICS,06/11/2017 12:00:00 AM,16:53,DRUG VIOLATION,0,09/25/2017 03:30:14 AM,NaN,37.869058,-122.270455
2093,17037072,BURGLARY AUTO,06/20/2017 12:00:00 AM,08:00,BURGLARY - VEHICLE,2,09/25/2017 03:30:16 AM,NaN,37.869058,-122.270455
2340,17028899,ALCOHOL OFFENSE,05/21/2017 12:00:00 AM,22:00,LIQUOR LAW VIOLATION,0,09/25/2017 03:30:13 AM,NaN,37.869058,-122.270455
2595,17030776,BURGLARY RESIDENTIAL,05/30/2017 12:00:00 AM,10:45,BURGLARY - RESIDENTIAL,2,09/25/2017 03:30:14 AM,NaN,37.869058,-122.270455
3453,17038382,BURGLARY RESIDENTIAL,06/30/2017 12:00:00 AM,15:00,BURGLARY - RESIDENTIAL,5,09/25/2017 03:30:17 AM,NaN,37.869058,-122.270455
3922,17034863,DISTURBANCE,06/01/2017 12:00:00 AM,00:00,DISORDERLY CONDUCT,4,09/25/2017 03:30:16 AM,NaN,37.869058,-122.270455
4074,17091632,VANDALISM,08/15/2017 12:00:00 AM,23:30,VANDALISM,2,09/25/2017 03:30:18 AM,NaN,37.869058,-122.270455
4505,17091900,THEFT MISD. (UNDER $950),09/20/2017 12:00:00 AM,21:35,LARCENY,3,09/25/2017 03:30:19 AM,NaN,37.869058,-122.270455
4545,17026051,THEFT FROM AUTO,05/07/2017 12:00:00 AM,16:00,LARCENY - FROM VEHICLE,0,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
4759,17091711,BURGLARY AUTO,08/28/2017 12:00:00 AM,08:20,BURGLARY - VEHICLE,1,09/25/2017 03:30:18 AM,NaN,37.869058,-122.270455
4852,17042511,BURGLARY AUTO,07/20/2017 12:00:00 AM,16:00,BURGLARY - VEHICLE,4,09/25/2017 03:30:17 AM,NaN,37.869058,-122.270455
4959,17090810,BURGLARY AUTO,04/23/2017 12:00:00 AM,00:00,BURGLARY - VEHICLE,0,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
5032,17030164,VEHICLE STOLEN,05/26/2017 12:00:00 AM,20:00,MOTOR VEHICLE THEFT,5,09/25/2017 03:30:13 AM,NaN,37.869058,-122.270455
5194,17091379,BURGLARY AUTO,07/14/2017 12:00:00 AM,12:00,BURGLARY - VEHICLE,5,09/25/2017 03:30:17 AM,NaN,37.869058,-122.270455
5406,17020088,ASSAULT/BATTERY MISD.,04/11/2017 12:00:00 AM,09:25,ASSAULT,2,09/25/2017 03:30:12 AM,NaN,37.869058,-122.270455
5544,17091287,VANDALISM,07/01/2017 12:00:00 AM,08:00,VANDALISM,6,09/25/2017 03:30:17 AM,NaN,37.869058,-122.270455

In [129]:
#get unique values of BLKADDR for the Lat/Long combo
temp = df[(df["LATITUDE"] == '37.869058') & (df["LONGITUDE"] == '-122.270455')]
temp.BLKADDR.unique()

array([nan], dtype=object)

## Drop Null Values (NaN)

We could essentially go to Google and try to figure out the BLKADDR ourselves, but to remove any problems that may occur while searching let's just drop all the rows that include null values

In [130]:
#drop rows that have null values
df = df.dropna(axis = 0, how = "any")

In [131]:
#now find out how many null values within the df
#What should you see when you run this?
df.isnull().sum()

CASENO       0
OFFENSE      0
EVENTDT      0
EVENTTM      0
EVENT        0
D.O.W        0
InDbDate     0
BLKADDR      0
LATITUDE     0
LONGITUDE    0
dtype: int64

# <font color = "red"> YOUR TURN! </font>

### What is the difference between "EVENTDT" and "EVENTTM"? How can we clean our columns to reflect the data that is useful?

HINT: Focus on EVENTDT

In [132]:
#Slice the string to get the information you want and set to the variable
date = [i[:10] for i in df["EVENTDT"]]

#Replace "EVENTDT" with new variable
df["EVENTDT"] = date
#check if it worked
df.head()

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,D.O.W,InDbDate,BLKADDR,LATITUDE,LONGITUDE
0,17034187,BURGLARY AUTO,06/14/2017,15:15,BURGLARY - VEHICLE,3,09/25/2017 03:30:15 AM,ALLSTON WAY & SHATTUCK AVE,37.869363,-122.268028
1,17052235,GUN/WEAPON,09/01/2017,22:56,WEAPONS OFFENSE,5,09/25/2017 03:30:18 AM,UNIVERSITY AVENUE & MILVIA ST,37.871884,-122.270752
2,17091126,THEFT MISD. (UNDER $950),06/10/2017,10:45,LARCENY,6,09/25/2017 03:30:15 AM,2500 SHATTUCK AVE,37.863811,-122.267412
3,17018444,BURGLARY AUTO,04/02/2017,19:30,BURGLARY - VEHICLE,0,09/25/2017 03:30:11 AM,DURANT AVENUE & ELLSWORTH ST,37.867221,-122.263531
4,17033328,NARCOTICS,06/10/2017,14:30,DRUG VIOLATION,6,09/25/2017 03:30:14 AM,MILVIA STREET & UNIVERSITY AVE,37.871884,-122.270752

## Drop the "InDbDate" column

In [133]:
df = df.drop("InDbDate",axis = 1)
#Check that it actually dropped
df.head()

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,D.O.W,BLKADDR,LATITUDE,LONGITUDE
0,17034187,BURGLARY AUTO,06/14/2017,15:15,BURGLARY - VEHICLE,3,ALLSTON WAY & SHATTUCK AVE,37.869363,-122.268028
1,17052235,GUN/WEAPON,09/01/2017,22:56,WEAPONS OFFENSE,5,UNIVERSITY AVENUE & MILVIA ST,37.871884,-122.270752
2,17091126,THEFT MISD. (UNDER $950),06/10/2017,10:45,LARCENY,6,2500 SHATTUCK AVE,37.863811,-122.267412
3,17018444,BURGLARY AUTO,04/02/2017,19:30,BURGLARY - VEHICLE,0,DURANT AVENUE & ELLSWORTH ST,37.867221,-122.263531
4,17033328,NARCOTICS,06/10/2017,14:30,DRUG VIOLATION,6,MILVIA STREET & UNIVERSITY AVE,37.871884,-122.270752

### TRICKY QUESTION

### Column "D.O.W." can be a bit confusing with the numbers. Replace the numbers with the appropriate day it corresponds to. 

You can find the days it corresponds to in the beginning of the notebook. 

##### HINT: You may need to use a dictionary, the map function, or the zip function

DICT:
https://www.programiz.com/python-programming/methods/built-in/dict

MAP:
https://www.programiz.com/python-programming/methods/built-in/map

ZIP:
https://www.programiz.com/python-programming/methods/built-in/zip

In [134]:
# dow = {0:"Sunday",1:"Monday",2:"Tuesday",3:"Wednesday", 4:"Thursday", 5:"Friday", 6:"Saturday"}
# df["D.O.W."] = df["D.O.W."].map(dow)
dow = {0:"Sunday",1:"Monday",2:"Tuesday",3:"Wednesday",4:"Thursday",5:"Friday",6:"Saturday"}
df["D.O.W"] = df["D.O.W"].map(dow)
#Check if it worked
df.head()

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,D.O.W,BLKADDR,LATITUDE,LONGITUDE
0,17034187,BURGLARY AUTO,06/14/2017,15:15,BURGLARY - VEHICLE,Wednesday,ALLSTON WAY & SHATTUCK AVE,37.869363,-122.268028
1,17052235,GUN/WEAPON,09/01/2017,22:56,WEAPONS OFFENSE,Friday,UNIVERSITY AVENUE & MILVIA ST,37.871884,-122.270752
2,17091126,THEFT MISD. (UNDER $950),06/10/2017,10:45,LARCENY,Saturday,2500 SHATTUCK AVE,37.863811,-122.267412
3,17018444,BURGLARY AUTO,04/02/2017,19:30,BURGLARY - VEHICLE,Sunday,DURANT AVENUE & ELLSWORTH ST,37.867221,-122.263531
4,17033328,NARCOTICS,06/10/2017,14:30,DRUG VIOLATION,Saturday,MILVIA STREET & UNIVERSITY AVE,37.871884,-122.270752

In [135]:
Latitude = [i[:5] for i in df["LATITUDE"]]
df["LATITUDE"] = Latitude


Longitude = [i[:7] for i in df["LONGITUDE"]]
df["LONGITUDE"] = Longitude

df.head()

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,D.O.W,BLKADDR,LATITUDE,LONGITUDE
0,17034187,BURGLARY AUTO,06/14/2017,15:15,BURGLARY - VEHICLE,Wednesday,ALLSTON WAY & SHATTUCK AVE,37.86,-122.26
1,17052235,GUN/WEAPON,09/01/2017,22:56,WEAPONS OFFENSE,Friday,UNIVERSITY AVENUE & MILVIA ST,37.87,-122.27
2,17091126,THEFT MISD. (UNDER $950),06/10/2017,10:45,LARCENY,Saturday,2500 SHATTUCK AVE,37.86,-122.26
3,17018444,BURGLARY AUTO,04/02/2017,19:30,BURGLARY - VEHICLE,Sunday,DURANT AVENUE & ELLSWORTH ST,37.86,-122.26
4,17033328,NARCOTICS,06/10/2017,14:30,DRUG VIOLATION,Saturday,MILVIA STREET & UNIVERSITY AVE,37.87,-122.27

# Part 2: EXPLORATORY DATA ANALYSIS

<h3>"Exploratory data analysis or 'EDA' is a <b>critical</b> beginning step in analyzing the data from an experiment.</h3>

<b>Here are the main reasons we use EDA:</b>
<ul>
 detection of mistakes<br><br>
 checking of assumptions<br><br>
 preliminary selection of appropriate models<br><br>
 determining relationships among the explanatory variables, and<br><br>
 assessing the direction and rough size of relationships between explanatory and outcome variables."</ul>
REFERENCE: http://www.stat.cmu.edu/~hseltman/309/Book/chapter4.pdf

## Now what?

We have cleaned our data to the best of our ability based on the initial look. Now let's try to look at the <b>relationships</b> between different values.

In [145]:
df.head()

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,D.O.W,BLKADDR,LATITUDE,LONGITUDE
0,17034187,BURGLARY AUTO,06/14/2017,15:15,BURGLARY - VEHICLE,Wednesday,ALLSTON WAY & SHATTUCK AVE,37.86,-122.26
1,17052235,GUN/WEAPON,09/01/2017,22:56,WEAPONS OFFENSE,Friday,UNIVERSITY AVENUE & MILVIA ST,37.87,-122.27
2,17091126,THEFT MISD. (UNDER $950),06/10/2017,10:45,LARCENY,Saturday,2500 SHATTUCK AVE,37.86,-122.26
3,17018444,BURGLARY AUTO,04/02/2017,19:30,BURGLARY - VEHICLE,Sunday,DURANT AVENUE & ELLSWORTH ST,37.86,-122.26
4,17033328,NARCOTICS,06/10/2017,14:30,DRUG VIOLATION,Saturday,MILVIA STREET & UNIVERSITY AVE,37.87,-122.27

Let's look at the different types of offenses that were called in. We know that using the .unique() function will return all the unique values in the column, but what if we wanted to also <b>count</b> the different times each unique value appeared?

In [146]:
df.OFFENSE.value_counts()

BURGLARY AUTO               1069
THEFT MISD. (UNDER $950)     864
VANDALISM                    447
DISTURBANCE                  423
NARCOTICS                    339
VEHICLE STOLEN               306
BURGLARY RESIDENTIAL         271
ASSAULT/BATTERY MISD.        263
THEFT FELONY (OVER $950)     253
ROBBERY                      183
IDENTITY THEFT               150
ALCOHOL OFFENSE              141
THEFT FROM AUTO              137
DOMESTIC VIOLENCE            119
BURGLARY COMMERCIAL          111
ASSAULT/BATTERY FEL.         102
FRAUD/FORGERY                101
MISSING ADULT                 66
2ND RESPONSE                  42
GUN/WEAPON                    42
SEXUAL ASSAULT FEL.           32
BRANDISHING                   25
THEFT FROM PERSON             23
MISSING JUVENILE              22
SEXUAL ASSAULT MISD.          21
ARSON                         16
MUNICIPAL CODE                12
VEHICLE RECOVERED              8
KIDNAPPING                     1
VICE                           1
Name: OFFENSE, dtype: int64

In [175]:
df.EVENT.value_counts()

LARCENY                   1140
BURGLARY - VEHICLE        1069
VANDALISM                  447
DISORDERLY CONDUCT         424
ASSAULT                    365
DRUG VIOLATION             339
MOTOR VEHICLE THEFT        306
BURGLARY - RESIDENTIAL     271
FRAUD                      251
ROBBERY                    183
LIQUOR LAW VIOLATION       141
LARCENY - FROM VEHICLE     137
FAMILY OFFENSE             119
BURGLARY - COMMERCIAL      111
MISSING PERSON              88
WEAPONS OFFENSE             67
SEX CRIME                   53
NOISE VIOLATION             42
ARSON                       16
ALL OTHER OFFENSES          12
RECOVERED VEHICLE            8
KIDNAPPING                   1
Name: EVENT, dtype: int64

Why is "LARCENY" a higher occurence in the "EVENTDESC" column, if when we looked into the "OFFENSE" column, "BURGLARY - VEHICLE" is first? Let's look into this a little more.


## GroupBy

In [174]:
df.groupby("EVENT").OFFENSE.value_counts()

#turn the series into a DF 
df.groupby("EVENT").OFFENSE.value_counts().to_frame()

#temp =df.groupby("EVENTDESC").OFFENSE.value_counts().to_frame()
#t = temp.reset_index()

                                                 OFFENSE
EVENT                  OFFENSE
ALL OTHER OFFENSES     MUNICIPAL CODE                 12
ARSON                  ARSON                          16
ASSAULT                ASSAULT/BATTERY MISD.         263
                       ASSAULT/BATTERY FEL.          102
BURGLARY - COMMERCIAL  BURGLARY COMMERCIAL           111
BURGLARY - RESIDENTIAL BURGLARY RESIDENTIAL          271
BURGLARY - VEHICLE     BURGLARY AUTO                1069
DISORDERLY CONDUCT     DISTURBANCE                   423
                       VICE                            1
DRUG VIOLATION         NARCOTICS                     339
FAMILY OFFENSE         DOMESTIC VIOLENCE             119
FRAUD                  IDENTITY THEFT                150
                       FRAUD/FORGERY                 101
KIDNAPPING             KIDNAPPING                      1
LARCENY                THEFT MISD. (UNDER $950)      864
                       THEFT FELONY (OVER $950)      253
                       THEFT FROM PERSON              23
LARCENY - FROM VEHICLE THEFT FROM AUTO               137
LIQUOR LAW VIOLATION   ALCOHOL OFFENSE               141
MISSING PERSON         MISSING ADULT                  66
                       MISSING JUVENILE               22
MOTOR VEHICLE THEFT    VEHICLE STOLEN                306
NOISE VIOLATION        2ND RESPONSE                   42
RECOVERED VEHICLE      VEHICLE RECOVERED               8
ROBBERY                ROBBERY                       183
SEX CRIME              SEXUAL ASSAULT FEL.            32
                       SEXUAL ASSAULT MISD.           21
VANDALISM              VANDALISM                     447
WEAPONS OFFENSE        GUN/WEAPON                     42
                       BRANDISHING                    25

From this DF we can see that "LARCENY" has the most OFFENSES within that category. When you add the totals from "THEFT MISD ( UNDER $ 950)" ," THEFT  FELONY (OVER $ 950)", and
"THEFT FROM PERSON" they equal more than "BURGLARY - VEHICLE", but "BURGLARY AUTO" as an offense alone is the highest in number.

# <font color = "red"> YOUR TURN! </font>

Could there be any relationship with the Day of the Week and the calls? Try out different functions to see if there is any significance?

In [148]:
#count the amount of calls per day
df["D.O.W"].value_counts()

Tuesday      853
Wednesday    818
Friday       818
Saturday     809
Thursday     797
Monday       793
Sunday       702
Name: D.O.W, dtype: int64

With the day that has the most calls, check the type of offense that appears the most.

In [170]:
#only display rows with the D.O.W that appears the most
#create a temp df
tempday = df[df["D.O.W"] == "Tuesday"]
tempday

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,D.O.W,BLKADDR,LATITUDE,LONGITUDE
8,17043482,VANDALISM,07/25/2017,15:00,VANDALISM,Tuesday,1200 KAINS AVE,37.88,-122.29
11,17046398,DOMESTIC VIOLENCE,08/08/2017,13:36,FAMILY OFFENSE,Tuesday,FOURTH STREET & DWIGHT WAY,37.85,-122.29
12,17038544,2ND RESPONSE,07/04/2017,06:39,NOISE VIOLATION,Tuesday,2700 DURANT AVE,37.86,-122.25
13,17029200,BURGLARY AUTO,05/23/2017,10:00,BURGLARY - VEHICLE,Tuesday,3100 SAN PABLO AVE,37.82,-122.27
28,17026165,THEFT MISD. (UNDER $950),05/09/2017,11:30,LARCENY,Tuesday,1500 SHATTUCK AVE,37.88,-122.26
31,17037314,VEHICLE STOLEN,06/27/2017,15:00,MOTOR VEHICLE THEFT,Tuesday,2300 LE CONTE AVE,37.87,-122.26
42,17040246,VEHICLE STOLEN,07/11/2017,19:00,MOTOR VEHICLE THEFT,Tuesday,1500 BERKELEY WAY,37.87,-122.28
50,17035931,BURGLARY RESIDENTIAL,06/13/2017,21:00,BURGLARY - RESIDENTIAL,Tuesday,1300 PERALTA AVE,37.88,-122.28
51,17021582,THEFT MISD. (UNDER $950),04/18/2017,14:00,LARCENY,Tuesday,1100 UNIVERSITY AVE,37.86,-122.29
54,17024643,THEFT FROM AUTO,05/02/2017,12:30,LARCENY - FROM VEHICLE,Tuesday,BANCROFT WAY & TELEGRAPH AVE,37.86,-122.25
55,17056764,VEHICLE STOLEN,09/19/2017,22:00,MOTOR VEHICLE THEFT,Tuesday,2100 CHANNING WAY,37.86,-122.26
66,17027702,VANDALISM,05/16/2017,11:41,VANDALISM,Tuesday,1200 TENTH ST,37.88,-122.29
81,17043263,ASSAULT/BATTERY MISD.,07/25/2017,12:37,ASSAULT,Tuesday,2200 BROWNING ST,37.86,-122.28
82,17038569,THEFT MISD. (UNDER $950),07/04/2017,01:00,LARCENY,Tuesday,1800 VIRGINIA ST,37.87,-122.27
98,17049725,ASSAULT/BATTERY FEL.,08/22/2017,22:30,ASSAULT,Tuesday,1600 PRINCE ST,37.85,-122.27
101,17029794,VEHICLE STOLEN,05/23/2017,10:00,MOTOR VEHICLE THEFT,Tuesday,3000 BATEMAN ST,37.85,-122.25
124,17038629,VEHICLE STOLEN,07/04/2017,13:00,MOTOR VEHICLE THEFT,Tuesday,700 PARKSIDE DR,700PA,CA
132,17040149,BURGLARY RESIDENTIAL,07/11/2017,12:48,BURGLARY - RESIDENTIAL,Tuesday,1300 SANTA FE AVE,37.88,-122.29
136,17055018,ALCOHOL OFFENSE,09/12/2017,17:44,LIQUOR LAW VIOLATION,Tuesday,1900 FOURTH ST,37.86,-122.30
139,17035771,THEFT FELONY (OVER $950),06/20/2017,17:00,LARCENY,Tuesday,100 UNIVERSITY AVE,37.86,-122.31
146,17033987,THEFT MISD. (UNDER $950),06/13/2017,18:11,LARCENY,Tuesday,2300 TELEGRAPH AVE,37.86,-122.25
160,17053192,NARCOTICS,09/05/2017,22:47,DRUG VIOLATION,Tuesday,1900 SHATTUCK AVE,37.87,-122.26
162,17091722,THEFT MISD. (UNDER $950),08/29/2017,18:45,LARCENY,Tuesday,2100 SHATTUCK AVE,37.87,-122.26
163,17030818,DISTURBANCE,05/30/2017,15:28,DISORDERLY CONDUCT,Tuesday,800 REGAL RD,37.89,-122.26
176,17033841,ROBBERY,06/13/2017,00:40,ROBBERY,Tuesday,TELEGRAPH AVENUE & PARKER ST,37.86,-122.25
191,17024575,THEFT FROM PERSON,05/02/2017,11:10,LARCENY,Tuesday,UNIVERSITY AVENUE & MARINA BLVD,37.86,-122.31
192,17026144,NARCOTICS,05/09/2017,08:14,DRUG VIOLATION,Tuesday,2500 HILLEGASS AVE,37.86,-122.25
210,17029326,THEFT MISD. (UNDER $950),05/23/2017,23:00,LARCENY,Tuesday,2100 SHATTUCK AVE,37.87,-122.26
215,17043444,BURGLARY AUTO,07/25/2017,18:00,BURGLARY - VEHICLE,Tuesday,1700 FRANCISCO ST,37.87,-122.27
217,17020177,NARCOTICS,04/11/2017,17:36,DRUG VIOLATION,Tuesday,UNIVERSITY AVENUE &I-80 FWY,UNIVE,CA
...,...,...,...,...,...,...,...,...,...
5451,17037076,VANDALISM,06/27/2017,11:20,VANDALISM,Tuesday,FOURTH STREET & JONES ST,37.87,-122.30
5452,17091223,IDENTITY THEFT,06/06/2017,15:00,FRAUD,Tuesday,2700 RUSSELL ST,37.85,-122.25
5461,17091580,BURGLARY AUTO,08/08/2017,19:00,BURGLARY - VEHICLE,Tuesday,2500 WARRING ST,37.86,-122.25
5467,17021559,THEFT MISD. (UNDER $950),04/18/2017,16:18,LARCENY,Tuesday,2000 OREGON ST,37.85,-122.26
5469,17091624,THEFT FELONY (OVER $950),08/15/2017,05:00,LARCENY,Tuesday,2000 LINCOLN ST,37.87,-122.27
5485,17054932,BURGLARY RESIDENTIAL,09/05/2017,08:00,BURGLARY - RESIDENTIAL,Tuesday,3000 ACTON ST,37.85,-122.28
5490,17018734,THEFT MISD. (UNDER $950),04/04/2017,12:00,LARCENY,Tuesday,1000 UNIVERSITY AVE,37.86,-122.29
5491,17053203,THEFT MISD. (UNDER $950),09/05/2017,22:30,LARCENY,Tuesday,2000 UNIVERSITY AVE,37.87,-122.27
5493,17037207,ROBBERY,06/27/2017,22:15,ROBBERY,Tuesday,2100 SHATTUCK AVE,37.87,-122.26
5500,17044776,NARCOTICS,08/01/2017,17:13,DRUG VIOLATION,Tuesday,SECOND STREET & VIRGINIA ST,37.87,-122.30
5502,17055129,VEHICLE STOLEN,09/12/2017,22:00,MOTOR VEHICLE THEFT,Tuesday,1200 CAMPUS DR,37.88,-122.25
5504,17047816,BURGLARY AUTO,08/15/2017,00:22,BURGLARY - VEHICLE,Tuesday,1100 UNIVERSITY AVE,37.86,-122.29
5505,17021621,THEFT FELONY (OVER $950),04/18/2017,17:00,LARCENY,Tuesday,1900 FOURTH ST,37.86,-122.30
5512,17091267,THEFT FELONY (OVER $950),06/27/2017,15:20,LARCENY,Tuesday,2100 MCKINLEY AVE,37.87,-122.27
5515,17026302,NARCOTICS,05/09/2017,22:40,DRUG VIOLATION,Tuesday,SEVENTH STREET & PAGE ST,37.87,-122.29
5518,17091440,BURGLARY AUTO,07/25/2017,04:30,BURGLARY - VEHICLE,Tuesday,1932 HASTE ST,37.86,-122.27
5527,17044730,ASSAULT/BATTERY MISD.,08/01/2017,13:00,ASSAULT,Tuesday,2000 CARLETON ST,37.86,-122.26
5528,17091669,THEFT MISD. (UNDER $950),08/22/2017,01:00,LARCENY,Tuesday,2700 BANCROFT WAY,37.86,-122.25
5530,17038712,THEFT FELONY (OVER $950),07/04/2017,23:10,LARCENY,Tuesday,1400 DELAWARE ST,37.87,-122.28
5536,17091670,BURGLARY AUTO,08/22/2017,19:30,BURGLARY - VEHICLE,Tuesday,2000 BERKELEY WAY,37.87,-122.27
5545,17054908,DISTURBANCE,09/12/2017,09:30,DISORDERLY CONDUCT,Tuesday,500 WOODMONT AVE,37.90,-122.26
5554,17053090,BRANDISHING,09/05/2017,15:30,WEAPONS OFFENSE,Tuesday,1500 DERBY ST,37.85,-122.27
5557,17020214,NARCOTICS,04/11/2017,21:06,DRUG VIOLATION,Tuesday,SECOND STREET & HEARST AVE,37.86,-122.30
5560,17091645,THEFT MISD. (UNDER $950),08/15/2017,18:30,LARCENY,Tuesday,1900 ADDISON ST,37.87,-122.27
5561,17018118,THEFT FROM AUTO,03/28/2017,12:00,LARCENY - FROM VEHICLE,Tuesday,100 PARKSIDE DR,37.85,-122.24
5565,17039277,DOMESTIC VIOLENCE,07/04/2017,16:00,FAMILY OFFENSE,Tuesday,2300 WARRING ST,37.86,-122.25
5568,17023074,THEFT FROM AUTO,04/25/2017,11:24,LARCENY - FROM VEHICLE,Tuesday,3000 BATEMAN ST,37.85,-122.25
5587,17030930,ROBBERY,05/30/2017,22:25,ROBBERY,Tuesday,2000 DELAWARE ST,37.87,-122.27
5599,17020104,MISSING JUVENILE,04/11/2017,09:15,MISSING PERSON,Tuesday,2200 RUSSELL ST,37.85,-122.26
5611,17035491,DISTURBANCE,06/20/2017,10:25,DISORDERLY CONDUCT,Tuesday,2300 CURTIS ST,37.86,-122.28

In [179]:
tempday["OFFENSE"].value_counts()

BURGLARY AUTO               173
THEFT MISD. (UNDER $950)    129
DISTURBANCE                  65
VANDALISM                    65
VEHICLE STOLEN               51
BURGLARY RESIDENTIAL         48
THEFT FELONY (OVER $950)     41
ASSAULT/BATTERY MISD.        38
ROBBERY                      38
NARCOTICS                    36
DOMESTIC VIOLENCE            23
FRAUD/FORGERY                19
IDENTITY THEFT               19
THEFT FROM AUTO              18
BURGLARY COMMERCIAL          17
ALCOHOL OFFENSE              17
ASSAULT/BATTERY FEL.         14
MISSING ADULT                 9
SEXUAL ASSAULT FEL.           6
BRANDISHING                   5
SEXUAL ASSAULT MISD.          5
THEFT FROM PERSON             5
VEHICLE RECOVERED             3
GUN/WEAPON                    2
2ND RESPONSE                  2
ARSON                         2
MISSING JUVENILE              2
MUNICIPAL CODE                1
Name: OFFENSE, dtype: int64

In [180]:
#count the number of eventdesc by type
tempday.groupby("EVENT").OFFENSE.value_counts().to_frame()

                                                 OFFENSE
EVENT                  OFFENSE
ALL OTHER OFFENSES     MUNICIPAL CODE                  1
ARSON                  ARSON                           2
ASSAULT                ASSAULT/BATTERY MISD.          38
                       ASSAULT/BATTERY FEL.           14
BURGLARY - COMMERCIAL  BURGLARY COMMERCIAL            17
BURGLARY - RESIDENTIAL BURGLARY RESIDENTIAL           48
BURGLARY - VEHICLE     BURGLARY AUTO                 173
DISORDERLY CONDUCT     DISTURBANCE                    65
DRUG VIOLATION         NARCOTICS                      36
FAMILY OFFENSE         DOMESTIC VIOLENCE              23
FRAUD                  FRAUD/FORGERY                  19
                       IDENTITY THEFT                 19
LARCENY                THEFT MISD. (UNDER $950)      129
                       THEFT FELONY (OVER $950)       41
                       THEFT FROM PERSON               5
LARCENY - FROM VEHICLE THEFT FROM AUTO                18
LIQUOR LAW VIOLATION   ALCOHOL OFFENSE                17
MISSING PERSON         MISSING ADULT                   9
                       MISSING JUVENILE                2
MOTOR VEHICLE THEFT    VEHICLE STOLEN                 51
NOISE VIOLATION        2ND RESPONSE                    2
RECOVERED VEHICLE      VEHICLE RECOVERED               3
ROBBERY                ROBBERY                        38
SEX CRIME              SEXUAL ASSAULT FEL.             6
                       SEXUAL ASSAULT MISD.            5
VANDALISM              VANDALISM                      65
WEAPONS OFFENSE        BRANDISHING                     5
                       GUN/WEAPON                      2

In [187]:
df = df.rename(columns={'D.O.W': 'DOW'})
df.head()

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,DOW,BLKADDR,LATITUDE,LONGITUDE
0,17034187,BURGLARY AUTO,06/14/2017,15:15,BURGLARY - VEHICLE,Wednesday,ALLSTON WAY & SHATTUCK AVE,37.86,-122.26
1,17052235,GUN/WEAPON,09/01/2017,22:56,WEAPONS OFFENSE,Friday,UNIVERSITY AVENUE & MILVIA ST,37.87,-122.27
2,17091126,THEFT MISD. (UNDER $950),06/10/2017,10:45,LARCENY,Saturday,2500 SHATTUCK AVE,37.86,-122.26
3,17018444,BURGLARY AUTO,04/02/2017,19:30,BURGLARY - VEHICLE,Sunday,DURANT AVENUE & ELLSWORTH ST,37.86,-122.26
4,17033328,NARCOTICS,06/10/2017,14:30,DRUG VIOLATION,Saturday,MILVIA STREET & UNIVERSITY AVE,37.87,-122.27

Do these numbers match the results of the overall DF?


Let's try something else, Friday and Saturday nights are typically associated with being the "party" time. If this is true should there be more Liquor/Drug/Disordely Conduct/etc. occurrences those nights?

Let's try it with Fridays!

In [188]:
#only display rows with the D.O.W of Friday
#create a temp df

fri =df[df["DOW"] == "Friday"]
fri.head()

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,DOW,BLKADDR,LATITUDE,LONGITUDE
1,17052235,GUN/WEAPON,09/01/2017,22:56,WEAPONS OFFENSE,Friday,UNIVERSITY AVENUE & MILVIA ST,37.87,-122.27
5,17043981,ALCOHOL OFFENSE,07/28/2017,21:31,LIQUOR LAW VIOLATION,Friday,KITTREDGE STREET & FULTON ST,37.86,-122.26
6,17091423,THEFT FELONY (OVER $950),07/21/2017,20:35,LARCENY,Friday,2400 HASTE ST,37.86,-122.25
14,17090740,IDENTITY THEFT,04/14/2017,12:55,FRAUD,Friday,900 SAN BENITO RD,37.89,-122.26
16,17048522,ASSAULT/BATTERY MISD.,08/18/2017,07:45,ASSAULT,Friday,2100 OXFORD ST,37.87,-122.26

In [189]:
#count the number of offenses by type
fri["OFFENSE"].value_counts()

BURGLARY AUTO               137
THEFT MISD. (UNDER $950)    135
VANDALISM                    76
NARCOTICS                    59
DISTURBANCE                  50
VEHICLE STOLEN               49
THEFT FELONY (OVER $950)     43
BURGLARY RESIDENTIAL         38
ASSAULT/BATTERY MISD.        33
ALCOHOL OFFENSE              28
THEFT FROM AUTO              25
DOMESTIC VIOLENCE            18
IDENTITY THEFT               17
ROBBERY                      16
BURGLARY COMMERCIAL          14
2ND RESPONSE                 13
FRAUD/FORGERY                13
MISSING ADULT                13
GUN/WEAPON                    9
ASSAULT/BATTERY FEL.          8
THEFT FROM PERSON             8
SEXUAL ASSAULT FEL.           4
MISSING JUVENILE              4
BRANDISHING                   3
SEXUAL ASSAULT MISD.          2
ARSON                         2
MUNICIPAL CODE                1
Name: OFFENSE, dtype: int64

In [192]:
#count the number of events by type
fri.groupby("EVENT").OFFENSE.value_counts().to_frame()

                                                 OFFENSE
EVENT                  OFFENSE
ALL OTHER OFFENSES     MUNICIPAL CODE                  1
ARSON                  ARSON                           2
ASSAULT                ASSAULT/BATTERY MISD.          33
                       ASSAULT/BATTERY FEL.            8
BURGLARY - COMMERCIAL  BURGLARY COMMERCIAL            14
BURGLARY - RESIDENTIAL BURGLARY RESIDENTIAL           38
BURGLARY - VEHICLE     BURGLARY AUTO                 137
DISORDERLY CONDUCT     DISTURBANCE                    50
DRUG VIOLATION         NARCOTICS                      59
FAMILY OFFENSE         DOMESTIC VIOLENCE              18
FRAUD                  IDENTITY THEFT                 17
                       FRAUD/FORGERY                  13
LARCENY                THEFT MISD. (UNDER $950)      135
                       THEFT FELONY (OVER $950)       43
                       THEFT FROM PERSON               8
LARCENY - FROM VEHICLE THEFT FROM AUTO                25
LIQUOR LAW VIOLATION   ALCOHOL OFFENSE                28
MISSING PERSON         MISSING ADULT                  13
                       MISSING JUVENILE                4
MOTOR VEHICLE THEFT    VEHICLE STOLEN                 49
NOISE VIOLATION        2ND RESPONSE                   13
ROBBERY                ROBBERY                        16
SEX CRIME              SEXUAL ASSAULT FEL.             4
                       SEXUAL ASSAULT MISD.            2
VANDALISM              VANDALISM                      76
WEAPONS OFFENSE        GUN/WEAPON                      9
                       BRANDISHING                     3

This will not give us the information we want. Instead let us look at each EVENTDESC and group by the D.O.W. that appears the most per EVENTDESC.

Also, I realized that "D.O.W." is becoming a problem with the periods when I am trying to call my series. I want to change the name of the column again, how can I do that?

In [ ]:
#change column name
df = ...
df.head()

# <font color = "red"> GROUP WORK</font> 
## What do YOU want to find out? YOUR DATA INVESTIGATION

In this notebook you have been learning all these techniques to be able to manipulate your dataframe to your preference. We know how to clean and explore our data, but what questions or topics did you actually want to learn from the data? 

<b> * In groups of 2-4 people, investigate the dataframe in this notebook and pick a question/topic to answer. Using the techniques you learned today, show relationships and results that would support that question/topic. 
</b><br><br>
<i>If we have time</i> <b>each</b> group will present their investigations and why they are significant to the class.

In [193]:
df.head()

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,DOW,BLKADDR,LATITUDE,LONGITUDE
0,17034187,BURGLARY AUTO,06/14/2017,15:15,BURGLARY - VEHICLE,Wednesday,ALLSTON WAY & SHATTUCK AVE,37.86,-122.26
1,17052235,GUN/WEAPON,09/01/2017,22:56,WEAPONS OFFENSE,Friday,UNIVERSITY AVENUE & MILVIA ST,37.87,-122.27
2,17091126,THEFT MISD. (UNDER $950),06/10/2017,10:45,LARCENY,Saturday,2500 SHATTUCK AVE,37.86,-122.26
3,17018444,BURGLARY AUTO,04/02/2017,19:30,BURGLARY - VEHICLE,Sunday,DURANT AVENUE & ELLSWORTH ST,37.86,-122.26
4,17033328,NARCOTICS,06/10/2017,14:30,DRUG VIOLATION,Saturday,MILVIA STREET & UNIVERSITY AVE,37.87,-122.27

In [206]:
df.BLKADDR.value_counts()

2100 SHATTUCK AVE                        75
1900 SHATTUCK AVE                        58
2300 TELEGRAPH AVE                       56
2800 ADELINE ST                          53
2200 SHATTUCK AVE                        47
100 SEAWALL DR                           40
2400 DURANT AVE                          39
1000 GILMAN ST                           38
200 UNIVERSITY AVE                       37
2000 ALLSTON WAY                         36
2000 OREGON ST                           36
2500 DURANT AVE                          35
900 HEINZ AVE                            33
2500 TELEGRAPH AVE                       33
200 MARINA BLVD                          32
1100 UNIVERSITY AVE                      31
2300 FOURTH ST                           30
2100 M L KING JR WAY                     30
1300 SAN PABLO AVE                       30
2000 CENTER ST                           27
1400 SHATTUCK AVE                        26
2100 KITTREDGE ST                        26
2000 UNIVERSITY AVE                      25
1700 FOURTH ST                           24
2300 SHATTUCK AVE                        23
2000 KITTREDGE ST                        22
2600 TELEGRAPH AVE                       21
1800 FOURTH ST                           21
1700 UNIVERSITY AVE                      21
1500 UNIVERSITY AVE                      20
                                         ..
1 PARK GATE 94708                         1
1400 PRINCE ST                            1
100 BRET HARTE RD                         1
CAMELIA STREET & FOURTH ST                1
600 HEARST AVE                            1
FULTON STREET & BANCROFT WAY              1
1600 SPRUCE ST                            1
EIGHTH STREET & CHANNING WAY              1
INDIAN ROCK AVENUE & SANTA BARBARA RD     1
1200 BONITA AVE                           1
ATHERTON STREET & CHANNING WAY            1
NINTH STREET & HARRISON ST                1
HEARST AVENUE & EUCLID AVE                1
1900 CALIFORNIA ST                        1
HAWTHORNE TERRACE & HAWTHORNE STEPS       1
2424 HASTE ST                             1
700 PERALTA AVE                           1
MILVIA STREET & RUSSELL ST                1
UNIVERSITY AVENUE &I-80 FWY               1
CALIFORNIA STREET & HEARST AVE            1
1200 SIXTY-SIXTH ST                       1
1623 MARTIN LUTHER KING JR WAY            1
2100 CURTIS ST                            1
ARCH STREET & EUNICE ST                   1
1000 MURRAY ST                            1
DWIGHT WAY & SIXTH ST                     1
2000 DERBY ST                             1
HENRY STREET & CEDAR ST                   1
DWIGHT WAY & M L KING JR WAY              1
1200 RUSSELL ST                           1
Name: BLKADDR, Length: 1857, dtype: int64

In [207]:
df.EVENTTM.value_counts()

12:00    179
19:00    136
22:00    130
18:00    129
21:00    121
20:00    114
17:00    111
00:00    107
23:00     87
08:00     85
10:00     84
15:00     84
16:00     79
14:00     73
09:00     69
13:00     69
11:00     64
17:30     55
18:30     51
01:00     49
16:30     43
20:30     41
12:30     40
02:00     39
21:30     38
22:30     38
11:30     36
00:01     35
19:30     35
23:30     35
        ...
00:41      1
01:51      1
06:03      1
16:16      1
09:49      1
15:07      1
01:21      1
06:33      1
22:17      1
00:11      1
03:54      1
18:47      1
04:22      1
20:16      1
15:42      1
08:14      1
05:50      1
22:49      1
17:16      1
02:52      1
08:02      1
09:19      1
09:36      1
14:43      1
10:58      1
03:23      1
09:54      1
03:31      1
19:03      1
08:36      1
Name: EVENTTM, Length: 1035, dtype: int64

In [221]:
test = 

test

1    22:56
Name: EVENTTM, dtype: object

In [223]:
test = [i[:2] for i in df["EVENTTM"]]
df["EVENTHOUR"] = test


df.head()

,CASENO,OFFENSE,EVENTDT,EVENTTM,EVENT,DOW,BLKADDR,LATITUDE,LONGITUDE,EVENTHOUR
0,17034187,BURGLARY AUTO,06/14/2017,15:15,BURGLARY - VEHICLE,Wednesday,ALLSTON WAY & SHATTUCK AVE,37.86,-122.26,15
1,17052235,GUN/WEAPON,09/01/2017,22:56,WEAPONS OFFENSE,Friday,UNIVERSITY AVENUE & MILVIA ST,37.87,-122.27,22
2,17091126,THEFT MISD. (UNDER $950),06/10/2017,10:45,LARCENY,Saturday,2500 SHATTUCK AVE,37.86,-122.26,10
3,17018444,BURGLARY AUTO,04/02/2017,19:30,BURGLARY - VEHICLE,Sunday,DURANT AVENUE & ELLSWORTH ST,37.86,-122.26,19
4,17033328,NARCOTICS,06/10/2017,14:30,DRUG VIOLATION,Saturday,MILVIA STREET & UNIVERSITY AVE,37.87,-122.27,14

In [1]:
groupings = for i in df["EVENTHOUR"]:
                if (i > 0) and (i < 4):
                return EM
                elsif (i > 4) and (i < 8):
                return MM
                elsif (i > 8 and i < 12):
                return NN
                elsif (i > 12 and i < 16):
                return AF
                elsif (i > 16 and i < 20):
                return EV
                else:
                return MM
groupings

SyntaxError: invalid syntax (<ipython-input-1-e67ad33b90ab>, line 1)